<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YouTubeToPDF.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A4E7C9722D2C6808007DA103</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A4E7C9882D2C680A007DA103</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A4E7C9922D2C680B007DA103</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
